:root {
    --clr-100: #ffffff;
    --clr-200: #cccccc;
    --clr-900: #1e1e1e;

    --clr-font-dark: var(--clr-900);
    --clr-font-light: var(--clr-100);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML Elements */
body {
    background-color: var(--clr-900);
}

div, h1, h2, h3, button, a, span, p {
    font-family: 'Exo', sans-serif;
}

h1, nav a {
    color: var(--clr-font-light);
}

h1 {
    padding: 1rem;
    font-size: 1.5rem;
}
h2 {
    font-size: 1rem;
}

button {
    border: 1px solid var(--clr-100);
    border-radius: 0.1rem;
    padding: 0.5rem 1rem;
    font-size: 1em;
    background-color: transparent;
    color: var(--clr-font-light);
    transition: 0.2s;
    cursor: pointer;
}
button:hover {
    background-color: var(--clr-100);
    color: var(--clr-font-dark);
}

nav {
    padding-top: 1rem;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    padding: 0.5rem 1rem;
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.2s;
}
a:hover {
    color: var(--clr-200);
}


/* Global Variables */
.d-none {
    display: none;
}

/* Content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    /* border: 1px solid var(--clr-100); */
    /* padding: 1rem; */
    max-width: 500px;
}

.content p {
    padding-block: 0.625rem;
    color: var(--clr-font-light);
    font-size: 0.8rem;
}

.content button {
    margin-top: 2rem;
    width: 100%;
}

.content-box input {
    width: 100%;
    padding: 0.25rem 0.5rem;
}

#result {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    border-bottom: 1px solid var(--clr-100);
    font-size: 1rem;
    color: var(--clr-font-light);
}